<div class="container height-inherit overflow-auto form-container ">
  <h1 class="text-center">Edit Profile</h1>
  <h3>Personal info</h3>
  <%= simple_form_for @profile do |f| %>
    <%= f.error_notification %>
    <%= f.input :first_name %>
    <%= f.input :last_name %>
    <%= f.input :team, collection: @teams %>
    <%= f.button :submit, "Update" %>
  <% end %>
</div>




