<h2><center>Ligue 1</center></h2>
<div class="game-cards">

<% @games.each do |g| %>
<%= link_to game_path(g) do %>
<div class="container">
  <div class="row bannerh">
    <div class="col-sm-4">
      <div class="text-left"><%= "Ligue 1, 25 journée " %>
      </div>
    </div>
    <div class="col-sm-4">
    <div class="text-center score_top">PSG Parc des Princes</div>
    </div>
    <div class="col-sm-4">
      <div class="text-right"><%= g.datetime %>
      </div>
    </div>
  </div>


  <div class="row background">
    <div class="margintop">

      <div class="row flextry spaced">
        <div class="col-sm-4">
          <div class="card_2 text-center flexed">
            <ul>
              <li>
                <div class="police">
                  <%= g.visitor_team.name %>
                </div>
              </li>
              <li>
                <%= image_tag "#{g.visitor_team.logo_path}" %>
              </li>
              <li>
                <div class="card_4 text-center">
                  <%= "Lacazette" %>
                </div>
              </li>
            </ul>
          </div>
        </div>

          <div class="flextry flexed score margintop_1"><%= g.visitor_team_score %></div>
          <div class="flextry flexed score margintop_1"><%= g.local_team_score%></div>


        <div class="col-sm-4">
          <div class="card_2 text-center flexed">
            <ul>
              <li>
                <div class="police">
                  <%= g.local_team.name %>
                </div>
              </li>
              <li>
               <%= image_tag "#{g.local_team.logo_path}" %>
             </li>
             <li>
              <div class="card_4 text-center">
                <%= "Cavani" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>


  </div>
</div>
</div>
<% end %>

<br><br><br>
<% end %>
</div>

