<h1>Ligue 1</h1>
<div class="container">
  <div class="row bannerh">
    <div class="col-sm-4">
      <div class="text-left"><%= "Ligue 1, 25 journée " %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-center"><%= "PSG Parc des Princes" %>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="text-right"><%= "Samedi 18 mars 2017 21H " %>
      </div>
    </div>
  </div>


  <div class="row background">
    <div class="margintop">

      <div class="row flextry spaced">
        <div class="col-sm-4">
          <div class="card_2 text-center flexed">
            <ul>
              <li>
              <div class="police">
                <%= @visitor.name %>
                </div>
              </li>
              <li>
                <%= image_tag "OL.png" %>
              </li>
              <li>
                <div class="card_4 text-center">
                  <%= "Lacazette" %>
                </div>
              </li>
            </ul>
          </div>
        </div>


        <div class="flextry flexed score">2</div>
        <div class="flextry flexed score">4</div>



        <div class="col-sm-4">
          <div class="card_2 text-center flexed">
            <ul>
              <li>
              <div class="police">
                <%= @home.name %>
              </div>
              </li>
              <li>
               <%= image_tag "PSG.png" %>
             </li>
             <li>
              <div class="card_4 text-center">
                <%= "Cavani" %>
              </div>
            </li>
          </ul>
        </div>
      </div>
</div>


    </div>
   </div>
</div>

</div>

