
<ul>
<% @local_team_players.each do |vplayer| %>
    <li> <%= vplayer.player.last_name%> </li>
    <% if vplayer.player.image != nil %>
      <li> <%= image_tag vplayer.player.image %> </li>
    <% end %>

    <% if vplayer.player.ratings.where(game_id: @game.id).blank?%>

    <% else %>
      <%= vplayer.player.ratings.where(game_id: @game.id)[0].score  %>
    <% end %>

 <% end %>
</ul>


<div class="container">
  <div class="row text-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
      <div class="tabs flexy">
        <a class="tab active" data-target="#localteam">
          <h3>Local team</h3>
        </a>
        <a class="tab" data-target="#visitorteam">
          <h3>Visitor team</h3>
        </a>
      </div>
    </div>
  </div>
  <div class="row">

    <div class="text-center">
      <div class="tab-content" id="localteam">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <h1>Rating Players</h1>
            </div>
          </div>
          <div class="row">
           <% @local_team_players.each do  |vplayer| %>
           <div class="col-md-4 col-sm-6 col-xs-12">
             <%= render "playercard", vplayer: vplayer %>
           </div>
           <% end %>
         </div>
       </div>
     </div>
     <div class="tab-content hidden" id="visitorteam">
      <% @visitor_team_players.each do |vplayer| %>
      <div class="col-md-4 col-sm-6 col-xs-12">
       <%= render "playercard", vplayer: vplayer %>
     </div>
     <% end %>
   </div>
 </div>

</div>
</div>








